<a href="https://colab.research.google.com/github/Iscaraca/cppy2020/blob/master/2020_Python_Programming_Practical_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **2020 Python Programming Practical 2**

If you do not have one already, create a [GitHub](https://github.com) account using your DHS Mail.

Create a public repository 2020python

File --> Save a copy in GitHub under your 2020python repository

Also share this colab file with edit access with computing@dhs.sg

**Q1. (Check if number is odd or even)**

Write a program that reads an integer and checks whether it is odd or even. 

Sample interaction:
```
Enter number: 25
25 is odd

Enter number: 8
8 is even

```

In [0]:
def checkOddOrEven(n):
    if n % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [0]:
print(checkOddOrEven(4))
print(checkOddOrEven(5))

Even
Odd

**Q2. (Validate triangles and compute perimeter)**

Write a program that reads three edges for a triangle and determines whether the input is valid. The input is valid if the sum of any two edges is greater than the third edge. The program will compute the perimeter of the triangle if the input is valid. Otherwise, display that the input is invalid. 

Sample interaction:
```
Enter side 1: 2
Enter side 2: 2
Enter side 3: 1
Perimeter = 5

Enter side 1: 1
Enter side 2: 2
Enter side 3: 1
Invalid triangle!

```

In [0]:
def checkTriangle(a, b, c):  
      
    if (a + b > c) and (a + c > b) and (b + c > a) : 
        return f"Perimeter = {a + b + c}"
    else: 
        return "Invalid triangle!"

In [0]:
print(checkTriangle(2, 2, 1))
print(checkTriangle(1, 2, 1))

Perimeter = 5
Invalid triangle!

**Q3. (Determine grade)**

Write a program that prompts the user to enter a score between 0 and 100 inclusive and output the corresponding grade as well as a Pass/Fail status. Output an error message if the entered score in not within the valid range. The grading system is as follows (S and U are not passes):

A: 70 - 100  
B: 60 - 69  
C: 55 - 59  
D: 50 - 54  
E: 45 - 49  
S: 35 - 44  
U: 0 - 34

Sample interaction:
```
Enter score: 73
A
Pass

Enter score: 37
S
Fail

Enter Score: -1
Invalid! Score must be within 0 - 100.

```

In [0]:
def autoGrader(grade):
    if grade < 0:
        return "Score has to be between 0 - 100"

    elif grade < 35:
        return "U :("

    elif grade < 45:
        return "S :("

    elif grade < 50:
        return "E :|"

    elif grade < 55:
        return "D :|"

    elif grade < 60:
        return "C :|"

    elif grade < 70:
        return "B :)"

    elif grade <= 100:
        return "A :)"

    else:
        return "Score has to be between 0 - 100"

In [0]:
print(autoGrader(-1))
print(autoGrader(70))
print(autoGrader(55))
print(autoGrader(101))

Score has to be between 0 - 100
A :)
C :|
Score has to be between 0 - 100

**Q4. (Determine leap year)**

Write a program that prompts the user to enter a year and determines whether it is a leap year. A year is a leap year if it is divisible by 4 but not 100, or is divisible by 400. 

Sample interaction:
```
Enter year: 2020
Leap

Enter year: 2019
Non-Leap
```

In [0]:
def leapYearChecker(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True # Leap, returns boolean value to save time on the next question
    else:
        return False # Non Leap

In [0]:
print(leapYearChecker(2020))
print(leapYearChecker(2019))

True
False

**Q5. (Find number of days in a month)**

Write a program that prompts the user to enter the month and year, and displays the number of days in the month. Sample interaction:
```
Enter month: 2
Enter year: 2020
February 2020 has 29 days.

Enter month: 3
Enter year: 2021
March 2021 has 31 days.

```

In [0]:
def howManyDays(month, year):
    months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
    if month == 2:
        if leapYearChecker(year):
            days = "29 days"
        else:
            days = "28 days"
    elif month % 2 == 0 :
        if month > 6:
            days = "31 days"
        else:
            days = "30 days"
    else:
        if month < 7:
            days = "31 days"
        else:
            days = "30 days"
    return f"{months[month - 1]} {year} had " + days

In [0]:
print(howManyDays(2,2020))
print(howManyDays(3,2021))
print(howManyDays(8,2020))

Feb 2020 had 29 days
Mar 2021 had 31 days
Aug 2020 had 31 days

**Q6. (Convert from kilograms to pounds)**

Write a program that displays the following table (1 kilogram = 2.2 pounds):
```
Kilograms Pounds
1         2.2
2         4.4
3         6.6
...
9         19.8
10        22.0
```

In [0]:
print("Kilograms        Pounds")
for i in range(1, 11):
    # " " * (17-len(str(i))) maintains the number of spaces so that each element in column Pounds is in line even though the number of digits in Kilogram varies
    print("{}{}{:.1f}".format(i, " " * (17-len(str(i))), i * 2.2))

Kilograms        Pounds
1                2.2
2                4.4
3                6.6
4                8.8
5                11.0
6                13.2
7                15.4
8                17.6
9                19.8
10               22.0

**Q7. (Convert from miles to kilometres)**

Write a program that displays the following two tables side-by-side (1 mile = 1.609 kilometres):
```
Miles	Kilometers	Kilometres	Miles
1    	1.609     	20        	12.430
2    	3.218     	25        	15.538

...
9    	14.481    	60        	37.290
10   	16.090    	65        	40.398
```

In [0]:
print("Miles        Kilometres")
for i in range(1, 66):
    # " " * (13-len(str(i))) maintains the number of spaces so that each element in column Miles is in line even though the number of digits in Kilometres varies
    print("{}{}{:.3f}".format(i, " " * (13-len(str(i))), i * 1.609))

Miles        Kilometres
1            1.609
2            3.218
3            4.827
4            6.436
5            8.045
6            9.654
7            11.263
8            12.872
9            14.481
10           16.090
11           17.699
12           19.308
13           20.917
14           22.526
15           24.135
16           25.744
17           27.353
18           28.962
19           30.571
20           32.180
21           33.789
22           35.398
23           37.007
24           38.616
25           40.225
26           41.834
27           43.443
28           45.052
29           46.661
30           48.270
31           49.879
32           51.488
33           53.097
34           54.706
35           56.315
36           57.924
37           59.533
38           61.142
39           62.751
40           64.360
41           65.969
42           67.578
43           69.187
44           70.796
45           72.405
46           74.014
47           75.623
48           77.232
49           78.841
50           80.450
51           82.059
52           83.668
53           85.277
54           86.886
55           88.495
56           90.104
57           91.713
58           93.322
59           94.931
60           96.540
61           98.149
62           99.758
63           101.367
64           102.976
65           104.585

**Q8. (Find two highest scores)**

Write a program that prompts the user to enter the number of students and each student's name and score, and finally displays the student with the highest score and the student with the second-highest score. Enter up to 5 student records.

In [0]:
'''
I used OOP for this question, where every student is a class object stored in an array called classSize. This way, if the teacher wants to do 
something else with the student's info or add more info to the students and rank them using the new info, the teacher can easily implement. 
This allows any number of student records, and outputs every student's name in order of score.

P.S I don't normally comment on my code but I shall develop a habit from now because it's graded somehow.
'''

class Student:
    def __init__(self, name, score):
        self.name = name
        self.score = score

classSize = int(input("How many students: "))

# Initialising list of class objects with placeholder values "" for name and 0 for score
studentList = [Student("", 0) for i in range(classSize)]

# Changing class object values in studentList to reflect actual name and score
for Student in studentList:
    Student.name = input("Enter student name: ")
    Student.score = int(input(f"Enter {Student.name}'s score: "))

# Sorts list by score in descending order, aka highest score goes first
studentList.sort(key=lambda x: x.score, reverse=True)

# Just prints every name in the list
for student in studentList:
    print(student.name)

How many students: 5
Enter student name: Alice
Enter Alice's score: 65
Enter student name: Isaac
Enter Isaac's score: 100
Enter student name: Bob
Enter Bob's score: 45
Enter student name: Cathy
Enter Cathy's score: 98
Enter student name: Gi Soong Chee
Enter Gi Soong Chee's score: 189369126396129836
Gi Soong Chee
Isaac
Cathy
Alice
Bob

**Q9. (Finding the smallest n such that n<sup>2</sup> > 12000)**

Use a while loop to find the smallest integer n such that n<sup>2</sup> is greater than 12,000.

In [0]:
n = 0
while (n*n) <= 12000:
    n += 1
print(n)

110

**Q10. (Finding the largest n such that n<sup>3</sup> < 12000)** 

Use a while loop to find the largest integer n such that n<sup>3</sup> is less than 12,000.

In [0]:
n = 0
while (pow(n, 3)) <= 12000:
    n += 1
print(n-1)

22

**Q11. (Computing the greatest common divisor)**

A solution to find the greatest common divisor of two integers n1 and n2 is as follows:
* First find d to be the minimum of n1 and n2
* Then check whether d, d-1, … d-2, 2, or 1 is a divisor for both n1 and n2 in this order.
* The first such common divisor is the greatest common divisor for n1 and n2. 

Write a program to implement this solution.  
Sample interaction:
```
Enter n1: 12
Enter n2: 18
GCD: 6
```

In [0]:
# Would it be cheating if i just used gcd() lmao
def calcGCD(x, y): 
  
    if x > y: 
        small = y 
    else: 
        small = x 
    for i in range(1, small+1): 
        if((x % i == 0) and (y % i == 0)): 
            gcd = i 
              
    return gcd

# We can also use recursion, like this:
def calcGCDRecursion(a,b): 
    if(b==0): 
        return a 
    else: 
        return calcGCDRecursion(b,a%b) 

# but recursion is very inefficient and the math library alr has gcd()

In [0]:
print(calcGCD(12, 18))
print(calcGCDRecursion(12, 18))
from math import gcd
print(gcd(12, 18))

6
6
6

**Q12. (Find factors of a positive integer)**

Write a program that reads a positive integer > 1 and displays all its factors.   
Sample interaction:
```
Enter n: 120
Factors: 2 2 2 3 5 
```

In [0]:
# Why are the factors of 120 in the sample just 2 2 2 3 5? If they're asking for
# prime factors shouldn't it be just 2 3 5?

def printFactors(n):
    print(f"The factors of {n} are: ")
    for i in range(1, n + 1):
        if n % i == 0:
            print(i, end=" ")

In [0]:
printFactors(120)

The factors of 120 are:
1 2 3 4 5 6 8 10 12 15 20 24 30 40 60 120